h1{
    color: blue
}
body{
    background-image:url("3.jpg"); 
    text-align: center;
}
input[type=text] {
    padding: 10px;
    border-radius: 10px;
}
input[type=email] {
    padding: 10px;
    border-radius: 10px;
}
input[type=address] {
    padding: 10px;
    border-radius: 10px;
}
input[type=number] {
    padding: 10px;
    border-radius: 10px;
}